/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* Body */
body {
  background-color: #141a34;
  font-family: "Montserrat", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form Box */
form {
  background-color: #fefefe;
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  position: relative;
  width: 30rem;
  text-align: center;
}

/* Form Decoration */
.plane {
  position: absolute;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* Form Content */
.full-name,
.email,
.phone-number,
.message {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  align-items: center;
}

form label {
  width: 25%;
}

form input {
  flex-grow: 1;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding-block: 0.5rem;
  min-width: 5rem;
}

form textarea {
  flex-grow: 1;
  border: none;
  outline: none;
  height: 6rem;
  border-bottom: 1px solid #000;
  resize: none;
  min-width: 5rem;
}

.submit-btn {
  background-color: #141a34;
  color: #fefefe;
  border: none;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
}

@media screen and (max-width: 30rem) {
  form {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  form label {
    width: 100%;
  }

  .full-name,
  .email,
  .phone-number,
  .message {
    flex-wrap: wrap;
  }

  .plane {
    top: 6.5%;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}
